@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BYekan";
  src: url("./Fonts/BYekan.ttf");
}
body {
  font-family: "BYekan";
}
input,
textarea {
  direction: rtl;
  text-align: right;
}

input::placeholder,
textarea::placeholder {
  direction: rtl;
  text-align: right;
}

form {
  direction: rtl;
}
